@mixin superscript {
  vertical-align: super;
  font-size: smaller;
  font-weight: lighter;
}
@mixin centeringWithFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin capitalize {
  text-transform: capitalize;
}
@mixin resetAnchor {
  text-decoration: none;
}
@mixin underline {
  position: relative;
  font-size: 27px;
  font-weight: bold;
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
  }
}
